In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("loan.csv")

In [3]:
df.head(2)

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              601 non-null    object
 1   Married             611 non-null    object
 2   Dependents          599 non-null    object
 3   Education           614 non-null    object
 4   Self_Employed       582 non-null    object
 5   Applicant_Income    614 non-null    int64
 6   Coapplicant_Income  614 non-null    float64
 7   Loan_Amount         614 non-null    int64
 8   Term                600 non-null    float64
 9   Credit_History      564 non-null    float64
 10  Area                614 non-null    object
 11  Status              614 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 57.7+ KB

In [5]:
cols = df.columns
cols

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Applicant_Income', 'Coapplicant_Income', 'Loan_Amount', 'Term',
       'Credit_History', 'Area', 'Status'],
      dtype='object')

In [6]:
categoricals = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed','Area', 'Status']
for i in categoricals:
    print(i)
    print(df[i].value_counts())
    print("----------------------------")

Gender
Male      489
Female    112
Name: Gender, dtype: int64
----------------------------
Married
Yes    398
No     213
Name: Married, dtype: int64
----------------------------
Dependents
0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64
----------------------------
Education
Graduate        480
Not Graduate    134
Name: Education, dtype: int64
----------------------------
Self_Employed
No     500
Yes     82
Name: Self_Employed, dtype: int64
----------------------------
Area
Semiurban    233
Urban        202
Rural        179
Name: Area, dtype: int64
----------------------------
Status
Y    422
N    192
Name: Status, dtype: int64
----------------------------

In [7]:
df["Dependents"] = df["Dependents"].replace('3+','3')

In [8]:
df["Dependents"].value_counts()

0    345
1    102
2    101
3     51
Name: Dependents, dtype: int64

In [9]:
df["Dependents"]=df["Dependents"].fillna("0")

In [10]:
df["Dependents"].isnull().sum()

0

In [11]:
df["Dependents"] = df["Dependents"].astype("int64")

In [12]:
df["Gender"]=df["Gender"].fillna("Male")

In [13]:
df["Term"]=df["Term"].fillna(360)

In [14]:
df["Credit_History"]=df["Credit_History"].fillna(1.0)

In [15]:
df["Self_Employed"]=df["Self_Employed"].fillna("No")

In [16]:
df["Married"]=df["Married"].fillna("Yes")

In [17]:
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
# sns.pairplot(df,hue="Status")
# plt.show()

In [19]:
# sns.pairplot(df,hue="Gender")
# plt.show()

In [20]:
# sns.pairplot(df,hue="Status",kind='kde')
# plt.show()

In [21]:
categoricals = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed','Area', 'Status']

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le = LabelEncoder()

In [24]:
for i in categoricals:
    df[i] = le.fit_transform(df[i])

In [25]:
df.head(2)

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,1,0,0,0,0,584900,0.0,15000000,360.0,1.0,2,1
1,1,1,1,0,0,458300,150800.0,12800000,360.0,1.0,0,0

In [26]:
X = df.drop(['Status'],axis=1)
y = df["Status"]

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=32)

In [29]:
from sklearn.svm import SVC

In [30]:
model = SVC()

In [31]:
model.fit(X_train,y_train)

SVC()

In [32]:
y_pred = model.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score,classification_report

In [34]:
accuracy_score(y_test,y_pred)

0.6666666666666666

In [35]:
import warnings
warnings.filterwarnings("ignore")
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        41
           1       0.67      1.00      0.80        82

    accuracy                           0.67       123
   macro avg       0.33      0.50      0.40       123
weighted avg       0.44      0.67      0.53       123

In [36]:
# from sklearn.preprocessing import StandardScaler

In [37]:
# df2 = df

In [38]:
# st = StandardScaler()

In [39]:
# st.fit(X_train)

In [40]:
# model.fit(X_train,y_train)

In [41]:
rbf_classifier = SVC(kernel="rbf")
rbf_classifier.fit(X_train, y_train)
y_pred1 = rbf_classifier.predict(X_test)
accuracy_score(y_test, y_pred1)

0.6666666666666666

In [ ]:
# classifier = SVC(kernel="linear")
# classifier.fit(X_train, y_train)
# y_pred2 = classifier.predict(X_test)
# accuracy_score(y_test, y_pred2)

In [ ]:
# poly_classifier = SVC(kernel="poly",degree=2)
# poly_classifier.fit(X_train, y_train)
# y_pred3 = poly_classifier.predict(X_test)
# accuracy_score(y_test, y_pred3)

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
params = {
    "C":[0.01,0.1,1,5,10],
    "kernel":["linear","poly","sigmoid","rbf"],
    "degree":[1,2,3,4,5,6,7],
    "gamma":[0.01,0,1,1,0,1.5,2.0]
}

In [ ]:
svc = SVC()

In [ ]:
svm_cv = GridSearchCV(svc,params,cv=10,verbose=True)

In [ ]:
svm_cv.fit(X_train,y_train)