In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head(1)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0

In [4]:
df.shape

(400, 5)

In [5]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
df.replace({'Gender' : { 'Male' : 0, 'Female' : 1}},inplace=True)

In [7]:
X = df.iloc[:,[1,2,3]]
X

     Gender  Age  EstimatedSalary
0         0   19            19000
1         0   35            20000
2         1   26            43000
3         1   27            57000
4         0   19            76000
..      ...  ...              ...
395       1   46            41000
396       0   51            23000
397       1   50            20000
398       0   36            33000
399       1   49            36000

[400 rows x 3 columns]

In [8]:
y= df["Purchased"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
st = StandardScaler()
X_train = st.fit_transform(X_train)
X_test = st.fit_transform(X_test)

In [13]:
from sklearn.svm import SVC

In [14]:
from sklearn.metrics import accuracy_score,classification_report

# Apply linear kernel:-

In [15]:
linear_ker = SVC(kernel="linear")
linear_ker.fit(X_train,y_train)
y_pred_linear_ker = linear_ker.predict(X_test)
accuracy_score(y_test,y_pred_linear_ker)

0.87

# Apply rbf kernel:-

In [16]:
rbf_ker = SVC(kernel="rbf")
rbf_ker.fit(X_train,y_train)
y_pred_rbf_ker = rbf_ker.predict(X_test)
accuracy_score(y_test,y_pred_rbf_ker)

0.93

# Apply poly kernel:-

In [17]:
poly_ker = SVC(kernel="poly")
poly_ker.fit(X_train,y_train)
y_pred_poly_ker = poly_ker.predict(X_test)
accuracy_score(y_test,y_pred_poly_ker)

0.89

# Apply GridSearchCV:-

In [18]:
from sklearn.model_selection import GridSearchCV

In [19]:
params = {
    "C":[0.01,0.1,1,5,10],
    "kernel":["linear","poly","sigmoid","rbf"],
    "degree":[1,2,3,4,5,6,7],
    "gamma":[0.01,0,1,1,0,1.5,2.0]
}

In [20]:
svc = SVC()

In [21]:
svm_cv = GridSearchCV(svc,params,cv=10,verbose=True)

In [ ]:
svm_cv.fit(X_train,y_train)

Fitting 10 folds for each of 980 candidates, totalling 9800 fits